/*Центрирование основного блока*/
.fixed-width-grid {
  width: 1000px;  /* Установите нужную вам ширину */
}
/*Центрирование основного блока*/

/*Картинка во всю ширину в бэкграунде*/
mat-grid-tile {
  background-size: cover;  /* Это свойство CSS гарантирует, что изображение будет масштабировано так, чтобы его ширина и высота соответствовали ширине и высоте mat-grid-tile */
  background-position: center;  /* Это свойство CSS гарантирует, что изображение будет выровнено по центру mat-grid-tile */
}

/*Login card*/
mat-card {
  padding-top: 35px;
  background-color: rgba(63, 81, 181, 0.45);
  min-width: 350px;
  min-height: 400px;
}

.mat-form-field {
  width: 100%;
  min-width: 1500px;
}

mat-card-title{
  font-weight: 900;
  padding-bottom: 45px;
  display: flex;
  justify-content: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.menu {
  background-color: rgba(63, 81, 181, 0.9);
}

a {
  color: rgb(255, 255, 255);
}

.worker-grid {
  border-style: solid;  /* тип границы */
  border-width: 1px;    /* толщина границы */
  border-color: rgba(63, 81, 181, 0.2);   /* цвет границы */
  /*background-color: rgba(63, 81, 181, 0.2);*/
  background-color: rgb(255, 255, 255);
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  padding-top: 15px;
  /*background-color: rgba(63, 81, 181, 0.05);*/
  background-color: rgb(255, 255, 255);
  min-width: 750px;
  min-height: 500px;
  max-width: 275px;
}

.center-text {
  text-align: center;
}

.mat-mdc-card-header {
  display: block;
}

.example-card {
  /*max-width: 1200px;*/
}

.chart-description {
  text-indent: 2em;
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.pdf-icon {
  width: 60px;
  height: 60px;
  font-size: 100px;
}

.doc-icon {
  width: 60px;
  height: 60px;
  font-size: 100px;
}

.download-container {
  margin-left: 40px;
  padding-bottom: 40px;
}

mat-card-content {
  min-height: 450px;
}
