/*Центрирование основного блока*/
.fixed-width-grid {
  width: 1000px;  /* Установите нужную вам ширину */
}
/*Центрирование основного блока*/

/*Картинка во всю ширину в бэкграунде*/
mat-grid-tile {
  background-size: cover;  /* Это свойство CSS гарантирует, что изображение будет масштабировано так, чтобы его ширина и высота соответствовали ширине и высоте mat-grid-tile */
  background-position: center;  /* Это свойство CSS гарантирует, что изображение будет выровнено по центру mat-grid-tile */
}

/*Login card*/
mat-card {
  padding-top: 75px;
  background-color: rgba(63, 81, 181, 0.45);
  min-width: 350px;
  min-height: 400px;
}

.mat-form-field {
  width: 100%;
  min-width: 1500px;
}

mat-card-title{
  font-weight: 900;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.menu {
  background-color: rgba(63, 81, 181, 0.9);
}

a {
  color: rgb(255, 255, 255);
}

.worker-grid {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(63, 81, 181, 0.2);
  background-color: rgb(255, 255, 255);
}

.example-spacer {
  flex: 1 1 auto;
}

.example-accordion {
   display: block;
   max-width: 500px !important;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.title{
  min-height: 1200px;
}
