<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Prometheus</span><!--<a routerLink="/themenu"> menu </a><a routerLink="/"> intro </a><a routerLink="/projectmenu"> Project Activity Menu </a>
  <a routerLink="/list"> The List </a>-->
  <span class="example-spacer"></span>


  <button mat-button [routerLink]="['/projectmenu']" *ngIf="showElement$ | async">Работа с проектами</button>
  <button mat-button [routerLink]="['/bimenu']" *ngIf="showElement$ | async">Общая аналитика</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" *ngIf="!(showElement$ | async)"
          [routerLink]="['/projectmenu']"  (click)="toggleVisibility()">
    <mat-icon>login</mat-icon>
  </button>


  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon" *ngIf="showElement$ | async" [routerLink]="['/']" (click)="toggleVisibility()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="centered-grid">
  <router-outlet>  </router-outlet>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row> </mat-toolbar-row>
</mat-toolbar>

