<mat-grid-list cols="4" rowHeight="800px" class="fixed-width-grid">
  <mat-grid-tile colspan="2" class="worker-grid">

    <mat-card class="example-card" [routerLink]="['/themenu']">
      <mat-card-header class="center-text">
        <mat-card-title >Новый проект</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/gavel.svg" >
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile colspan="2" class="worker-grid">

    <mat-card class="example-card"  [routerLink]="['/list']">
      <mat-card-header>
        <mat-card-title class="center-text">Список проектов</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/list-box-outline.svg" >
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>


  </mat-grid-tile>
</mat-grid-list>


